.services {
  @media (max-width: 992px) {
    .row {
      justify-content: space-evenly;
    }
  }
  
  @media (max-width: 576px) {
   .row  {
     flex-direction: column;
     width: 100%;
   }
  }
}
